<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Etusivu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<h1>Autot</h1>
<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Kirjaudu ulos" class="btn btn-sm btn-danger"/>
		</form>
	</div>
    <table class="table table-striped">
		<tr>
		    <th>Auto</th>
		    <th sec:authorize="hasAuthority('ADMIN')"> </th>
		    <th sec:authorize="hasAuthority('ADMIN')"> </th>
		</tr>  
    	<tr th:each = "car : ${cars}">

    		<td th:text="${car.name}"></td>
    			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/{car} (car=${car.name})}" class="btn btn-xs btn-success">Valitse</a></td>
    			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/editcar/{car} (car=${car.carid})}" class="btn btn-xs btn-success">Muokkaa</a></td>
    	</tr>
     </table>
</body>
</html>