<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Muokkaa Autoa</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Muokkaa Autoa</h1>
	<div>
		<form th:object="${car}" th:action="@{../save}" action="#" method="post">
			<input type="hidden" id="id" th:field="*{carid}" />
		  	<label for="fname">Merkki</label>
			<input type="text" id="fname" th:field="*{name}" />
			
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Tallenna"></input>
		</form>
	</div>
	<a href="/cars" class="btn btn-sm btn-success">Palaa etusivulle</a>
</body>
</html>