<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Etusivu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{../css/bootstrap.min.css}" />
</head>
<body>
<h1>Tervetuloa</h1>
<h2><span th:text="${#authentication.getPrincipal().getUsername()}"></span></h2>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Kirjaudu ulos" class="btn btn-sm btn-danger"/>
		</form>
		
	</div>     
<a th:href="@{/acars/{car} (car=${#authentication.getPrincipal().getUsername()})}" class="btn btn-xs btn-success">Sisään</a>
<a sec:authorize="hasAuthority('ADMIN')" href="/cars" class="btn btn-xs btn-success">Admin</a>     
</body>
</html>